<div class="col-6 col-md-3">
    <div class="card mb-2 shadow note-card">
        <div class="media notebook-img-block">
            <img alt="note-book-thumbnail" class="card-img-top  notebook-img"
                 src="{{ note.thumbnail.url }}">
        </div>
        <div class="card-body">
            <div class="card-badges">
                {% if note.is_favorite %}
                    <img alt="note-favorite"
                         src="/media/star_fill.png" class="favorite-icon-star">
                {% endif %}
                {% if note.is_public %}
                    <img alt="note-public"
                         src="/media/global.png" class="favorite-icon-public">
                {% endif %}
            </div>
            <h6 class="card-title">{{ note.title }} </h6>
            <div class="card-buttons">
                <a href="{% url 'note_update' note.pk %}" class="btn-sm btn-secondary">Edit</a>
            </div>
        </div>
    </div>
</div>
