<div class="col-12 col-md-3">
    <div class="card mb-2 shadow public-note-card">
        <div class="media notebook-img-block">
            <img alt="note-book-thumbnail" class="card-img-top  notebook-img"
                 src="{% if note_book.thumbnail_url %}{{ note_book.thumbnail_url }}{% else %}{{ note_book.thumbnail.url }}{% endif %}">
        </div>
        <div class="card-body">
            <h6 class="card-title">{{ note_book.title }}</h6>
            <div class="mb-1 text-muted">Posted by <strong>{{ note_book.user.username }}</strong>
                on {{ note_book.updated_at|date }}</div>
            <div class="card-buttons">
                <a href="{% url 'note_book_public_notes' note_book.id %}" class="btn-sm btn-primary mb-1">Notes</a>
            </div>
        </div>
    </div>
</div>

