<div class="col-12 col-md-3">
    <div class="card mb-2 shadow public-note-card">
        <div class="media notebook-img-block">
            <img alt="note-book-thumbnail" class="card-img-top  notebook-img"
                 src="{{ note.thumbnail.url }}">
        </div>
        <div class="card-body">
            <h6 class="card-title">{{ note.title }} </h6>
            <div class="mb-1 text-muted">Posted by <strong>{{ note.note_book.user.username }}</strong>
                on {{ note.updated_at|date }}</div>
            <div class="card-buttons">
                <a href="{% url 'note_public_view' note.pk %}" class="btn-sm btn-primary">View</a>
            </div>
        </div>
    </div>
</div>
