{% extends 'mynotes/base.html' %}
{% block content %}
    <div class="row mt-5">
        <div class="col-12">
            <h3 class="border-bottom mb-4">All Public Notes</h3>
        </div>
    </div>

    {% if notes.count != 0 %}
        <div class="row">
            {% for note in notes %}
                 {% include 'mynotes/templates/public-note.html' %}
            {% endfor %}
        </div>
        {% include 'mynotes/pagination_template.html' %}
    {% else %}
        <div class="col-12">
            <p>No Notes to display!</p>
        </div>
    {% endif %}
{% endblock content %}
