{% extends 'mynotes/base.html' %}
{% block content %}
    <div class="content-section shadow rounded">
        <h1 class="border-bottom mb-3">About</h1>
        <p>What-I-Noted Application provides a easy Interface where user can create multiple note books (Group of Notes)
            and can add multiple notes to it. User can Apply a easy search using tags.Adding Notes/Notebooks as Favorite
            and can also mark each notes as public which will show up in What-I-Noted Public page.
        </p>
    </div>
{% endblock content %}

