{% extends 'cms/base.html' %}

{% block content %}
    <div class="row text-center">
        <h1 class="text-bold text-center">Dashboard</h1>
    </div>
    <hr>
    {% if request.user.is_superuser %}
    <div class="row">
        <div class="col-lg-4">
            <div class="card card-body bg-light text-center">
                <h1 class="text-muted">{{ total_patients }}</h1>
                <h4>Total Patients</h4>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-body bg-light text-center">
                <h1 class="text-muted">{{ new_patients }}</h1>
                <h4>New Patients</h4>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-body bg-light text-center">
                <h1 class="text-muted">{{ returning_patients }}</h1>
                <h4>Returning Patients</h4>
            </div>
        </div>
    </div><br>
    <h4>Filter by date range:</h4>

    <form method="get" action="{% url  'cms_dashboard' %}">
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label><i class="fa fa-date"></i>Date From</label>
                    <input name="date_from" class="form-control" value="{% if  request.GET.date_from %}{{ request.GET.date_from }}{% endif %}" type="date"/>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label><i class="fa fa-date"></i>Date to</label>
                    <input name="date_to" class="form-control" value="{% if  request.GET.date_to %}{{ request.GET.date_to }}{% endif %}" type="date"/>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>&nbsp;</label>
                    <input class="form-control btn-info" type="submit" value="Filter"/>
                </div>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-lg-4">
            <div class="card card-body bg-light text-center">
                <h1 class="text-muted">
                    {% if  request.GET.date_from %}{{ filtered_total_patients }}{% else %}--{% endif %}</h1>
                <h4>Total Patients</h4>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-body bg-light text-center">
                <h1 class="text-muted">
                    {% if  request.GET.date_from %}{{ filtered_new_patients }}{% else %}--{% endif %}</h1>
                <h4>New Patients</h4>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-body bg-light text-center">
                <h1 class="text-muted">
                    {% if  request.GET.date_from %}{{ filtered_returning_patients }}{% else %}--{% endif %}</h1>
                <h4>Returning Patients</h4>
            </div>
        </div>
    </div>
    {% else %}
            <div class="row">
        <div class="col-lg-4">
            <div class="card card-body bg-light text-center">
                <h1 class="text-muted">{{ total_patients }}</h1>
                <h4>Today Total Patients</h4>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-body bg-light text-center">
                <h1 class="text-muted">{{ new_patients }}</h1>
                <h4>Today New Patients</h4>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-body bg-light text-center">
                <h1 class="text-muted">{{ returning_patients }}</h1>
                <h4>Today Returning Patients</h4>
            </div>
        </div>
    </div><br>
    {% endif %}

{% endblock content %}
