{% extends 'mynotes/base.html' %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <form method="get" action="{% url  'search_books' %}">
                <div class="col-auto">
                    <div class="form-group">
                        <input type="text" class="form-control" name="q" value="{{ request.GET.q }}" id="q"
                               placeholder="Search by title, author, publisher">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Submit</button>
                </div>
            </form>
        </div>
    </div>

    {% if books %}
        <div class="row">
            {% csrf_token %}
            {% for book in books %}
                <div class="col-12 col-md-3">
                    <div class="card mb-2 shadow book-card">
                        <div class="media notebook-img-block">
                            <img alt="note-book-thumbnail" class="card-img-top  notebook-img notebook-img-thumb"
                                 src="{% if book.volumeInfo.imageLinks.thumbnail %}{{ book.volumeInfo.imageLinks.thumbnail }}{% else %} /media/default_note_thumb.png {% endif %}" />
                        </div>
                        <div class="card-body">
                            <h6 class="card-title" id="book_title">{{ book.volumeInfo.title }}</h6>
                            <div class="small text-muted"><strong>Author(s):</strong>
                                <div id="book_authors">{% for author in book.volumeInfo.authors %}{{ author }}{% if not forloop.last %}, {% endif %}{% endfor %}</div>
                                <div>
                                    <strong>Publisher:</strong>
                                    <span id="book_publisher">{{ book.volumeInfo.publisher }}</span> <b>On</b> <span
                                        id="book_published_date">{{ book.volumeInfo.publishedDate }}</span>
                                    <div id="book_ISBN" class="hidden">{% for ISBN in book.volumeInfo.industryIdentifiers %}{{ ISBN.type }}:{{ ISBN.identifier }}{% if not forloop.last %}, {% endif %}{% endfor %}</div>
                                </div>
                            </div>
                            <div class="book-card-buttons">
                                <a href="#" submit_url='{% url 'add_book' %}' redirect_to_page = '{% url 'notes_home_page' %}' onclick="saveSelectedBook(this)"
                                   class="pmd-floating-action-btn btn pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-primary"
                                   data-title="Add This Book">
                                    <span class="pmd-floating-hidden">Primary</span>
                                    <i class="material-icons pmd-sm">done</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        {{ message }}
    {% endif %}
{% endblock content %}

